{% extends 'base.html.twig' %}
{% block title %}关于我们_{{ parent() }}{% endblock %}
{% block keyword %}北海助派网络,助派网络,北海网络公司{% endblock %}
{% block description %}北海助派网络信息技术有限公司是一家有实力的网站制作、小程序制作、微信公众号制作、微信营销推广公司，助派网络为无数客户成功进行营销推广活动。{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="about-content">
            <p>北海助派网络信息技术有限公司是一家拥有网站制作、小程序制作、微信公众号制作、微信营销推广能力的公司，我们曾为无数客户成功进行营销推广活动。我们对中小企业网络营销, 电子商务有深刻的理解和经验。</p>
            <p>我们构建了从产品管理, 界面设计, 代码开发, 软件测试的软件开发体系, 并持续进行研发投入。助派网络微平台是三合一建站系统, 采用良好的云计算技术和大数据理念。</p>
            <p>助派网络本地建站服务商共同合作, 为企业提供优良的网站建设解决方案 我们深知核心技术是企业长期发展的重要基础, 一直致力于自主开发。</p>
            <p>助派网络研发的三合一建站平台-微平台, 多年的坚持和努力就是为中小企业提供满意的电子商务解决方案, 为本地IT服务商提供优良的应用系统。</p>
        </div>
    </div>
{% endblock %}