<div class="container my-5">
    <div class="row my-3 text-center">
        <div class="col-12"><h2><span class="oi oi-beaker mx-3 text-primary"></span>解决方案</h2></div>
    </div>
    <div class="row py-3 text-center">
        <div class="col-md-3">
            <div class="oi oi-monitor card-icon p-5"></div>
            <h4>网站制作</h4>
            <p class="text-center">各种网站开发</p>
        </div>
        <div class="col-md-3">
            <div class="oi oi-people card-icon p-5"></div>
            <h4>营销推广</h4>
            <p class="text-center">各种网站营销推广</p>
        </div>
        <div class="col-md-3">
            <div class="oi oi-chat card-icon p-5"></div>
            <h4>微信公众号</h4>
            <p class="text-center">微信公众号开发</p>
        </div>
        <div class="col-md-3">
            <div class="oi oi-aperture card-icon p-5"></div>
            <h4>小程序</h4>
            <p class="text-center">小程序开发</p>
        </div>
    </div>
</div>