<div class="technology-container my-5">
    <div class="container" id="integer">
        <h2 class="text-center"><span class="oi oi-list-rich mx-3 text-primary"></span>整合方案</h2>
        <div class="row  align-items-center">
            <div class="col-md">
                <i class="iconfont icondiannaoshoujihuchuanwenjianhulianwangwifiwangluo text-primary rem-3"></i>
                <p>
                    <br><br><br>PC+手机+微信网站+APP<br>多合一建站
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconbuju text-primary rem-3"></i>
                <p>
                    <br><br><br>自由拖拽<br>布局个性DIY
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconmokuai text-primary rem-3"></i>
                <p>
                    <br><br><br>多种功能模块<br>满足各种需求
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconweixin text-primary rem-3"></i>
                <p>
                    <br><br><br>对接微信平台<br>关联微信应用
                </p>
            </div>
            <div class="col-md li-bor-notrig">
                <i class="iconfont iconzhifu text-primary rem-3"></i>
                <p>
                    <br><br><br>支持多种支付<br>多个域名
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <i class="iconfont iconbiaotiyouhua text-primary rem-3"></i>
                <p>
                    <br><br><br>提供SEO优化<br>增加站点收录
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconzhanshi text-primary rem-3"></i>
                <p>
                    <br><br><br>展示企业实力<br>促进顾客购买
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconchuanbopaihang text-primary rem-3"></i>
                <p>
                    <br><br><br>强大的推广功能<br>实现产品推广
                </p>
            </div>
            <div class="col-md">
                <i class="iconfont iconcart text-primary rem-3"></i>
                <p>
                    <br><br><br>完善的电商功能<br>增加成交数量
                </p>
            </div>
            <div class="col-md li-bor-notrig">
                <i class="iconfont icontuiguang text-primary rem-3"></i>
                <p>
                    <br><br><br>多种传播方式<br>吸引来客
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md li-bor-notbot">
                <i class="iconfont iconcz-zh text-primary rem-3"></i>
                <p>
                    <br><br><br>在线沟通<br>转化效益
                </p>
            </div>
            <div class="col-md li-bor-notbot">
                <i class="iconfont iconweibiaoti-1 text-primary rem-3"></i>
                <p>
                    <br><br><br>增加用户黏度<br>优化用户口碑
                </p>
            </div>
            <div class="col-md li-bor-notbot">
                <i class="iconfont iconhuitouke text-primary rem-3"></i>
                <p>
                    <br><br><br>关怀维系客户<br>增加回头率
                </p>
            </div>
            <div class="col-md li-bor-notbot">
                <i class="iconfont iconzhiliang text-primary rem-3"></i>
                <p>
                    <br><br><br>提升服务质量<br>留住老客户
                </p>
            </div>
            <div class="col-md li-bor-notrig li-bor-notbot">
                <i class="iconfont icongongju text-primary rem-3"></i>
                <p>
                    <br><br><br>多种营销工具<br>增加人气
                </p>
            </div>
        </div>
    </div>
</div>
