<div class="technology-container my-5">
    <div class="container">
        <h2 class="text-center"><span class="oi oi-list-rich mx-3 text-primary"></span>整合方案</h2>
        <div class="card-deck mt-5">
            <div class="main-l-m">
                <div class="w-1300">
                    <ul>
                        <li>
                            <img src="/build/images/n-main-5.gif">
                            <p>
                                <br><br><br>PC+手机+微信网站+APP<br>多合一建站
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-6.gif">
                            <p>
                                <br><br><br>自由拖拽<br>布局个性DIY
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-7.gif">
                            <p>
                                <br><br><br>多种功能模块<br>满足各种需求
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-8.gif">
                            <p>
                                <br><br><br>对接微信平台<br>关联微信应用
                            </p>
                        </li>
                        <li class="li-bor-notrig">
                            <img src="/build/images/n-main-9.gif">
                            <p>
                                <br><br><br>支持多种支付<br>多个域名
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-10.gif">
                            <p>
                                <br><br><br>提供SEO优化<br>增加站点收录
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-11.gif">
                            <p>
                                <br><br><br>展示企业实力<br>促进顾客购买
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-12.gif">
                            <p>
                                <br><br><br>强大的推广功能<br>实现产品推广
                            </p>
                        </li>
                        <li>
                            <img src="/build/images/n-main-13.gif">
                            <p>
                                <br><br><br>完善的电商功能<br>增加成交数量
                            </p>
                        </li>
                        <li class="li-bor-notrig">
                            <img src="/build/images/n-main-14.gif">
                            <p>
                                <br><br><br>多种传播方式<br>吸引来客
                            </p>
                        </li>
                        <li class="li-bor-notbot">
                            <img src="/build/images/n-main-15.gif">
                            <p>
                                <br><br><br>在线沟通<br>转化效益
                            </p>
                        </li>
                        <li class="li-bor-notbot">
                            <img src="/build/images/n-main-16.gif">
                            <p>
                                <br><br><br>增加用户黏度<br>优化用户口碑
                            </p>
                        </li>
                        <li class="li-bor-notbot">
                            <img src="/build/images/n-main-17.gif">
                            <p>
                                <br><br><br>关怀维系客户<br>增加回头率
                            </p>
                        </li>
                        <li class="li-bor-notbot">
                            <img src="/build/images/n-main-18.gif">
                            <p>
                                <br><br><br>提升服务质量<br>留住老客户
                            </p>
                        </li>
                        <li class="li-bor-notbot li-bor-notrig">
                            <img src="/build/images/n-main-19.gif">
                            <p>
                                <br><br><br>多种营销工具<br>增加人气
                            </p>
                        </li>
                        <div class="clear">
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
