<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="swiper-container" id="swiper-container-hd">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{{ asset('build/images/banner.jpg') }}"  /> </div>
            <div class="swiper-slide"><img src="{{ asset('build/images/banner1.jpg') }}"  /> </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
