<div class="case-container bg-secondary">
    <div class="container">
        <div class="row text-center">
            <h2 class="col-12 text-white my-5"><span class="oi oi-briefcase mx-3"></span>海量模板</h2>
        </div>
        <div class="row nei_c">
            <div class="col-md-3 mb-5">
                <a href="http://a00766y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181123/pc1542953107.jpg"></a>
                <div class="xsj">
                    <a href="http://a00766y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181123/m1542953107.jpg"></a>
                </div><p>模板编号：a00766y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00765y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181116/pc1542355445.jpg"></a>
                <div class="xsj">
                    <a href="http://a00765y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181116/m1542355445.jpg"></a>
                </div><p>模板编号：a00765y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00764y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181109/pc1541742321.jpg"></a>
                <div class="xsj">
                    <a href="http://a00764y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181109/m1541742321.jpg"></a>
                </div><p>模板编号：a00764y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00763y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181107/pc1541562508.jpg"></a>
                <div class="xsj">
                    <a href="http://a00763y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181107/m1541562508.jpg"></a>
                </div><p>模板编号：a00763y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00762y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181101/pc1541043664.jpg"></a>
                <div class="xsj">
                    <a href="http://a00762y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181101/m1541043853.jpg"></a>
                </div><p>模板编号：a00762y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00761y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181030/pc1540867238.jpg"></a>
                <div class="xsj">
                    <a href="http://a00761y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181030/m1540867238.jpg"></a>
                </div><p>模板编号：a00761y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00760y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181023/pc1540278741.jpg"></a>
                <div class="xsj">
                    <a href="http://a00760y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181023/m1540278741.jpg"></a>
                </div><p>模板编号：a00760y</p>
            </div>

            <div class="col-md-3 mb-5">
                <a href="http://a00759y.demo.guanwangyun.com" target="_blank"><img src="http://www.sendong.com/static/newindex/20181019/pc1539915225.jpg"></a>
                <div class="xsj">
                    <a href="http://a00759y.demo.guanwangyun.com/?version=mobile&amp;m=viewsite" target="_blank"><img src="http://www.sendong.com/static/newindex/20181019/m1539915225.jpg"></a>
                </div><p>模板编号：a00759y</p>
            </div>
        </div>
    </div>
</div>
