ul,li,a,img,p{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #f5f8fa!important;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    word-spacing: 5px;
    letter-spacing: 2px;
}
/********菜单导航*****************/
#navbarmain .nav-item .nav-link{
    color: #fff;
}
#navbarmain .nav-item .nav-link:hover{
    background-color: #262626;
    color: #999;
}
/*****内容主体区域********/
#main-body {}
.card-title a{
    color: #000;
}
.cart-text a{
    color: #999;
    font-size: 0.88rem;
}
/********文章列表********/
.list-title a{
    color: #000;
}


/*******页脚内容*************/
#footer{
    font-size: 0.85rem;
}
#footer li{
    line-height: 0.75rem;
}



.list-summary{
    font-size: 0.88rem;
}
.list-summary a{
    color: #999;
}
#cnzz_stat_icon_1278852934{
    display: none;
}
#swiper-container-hd img{
    width: 100%;
    height: auto;
}
.card-icon{
    font-size: 78px;
    color: #007bff;
}
.case-wrapper{
    position: relative;
    padding-left: 0!important;
    padding-right: 0!important;
    overflow: hidden;
}
.case-swiper{
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 2;
    width: 100%;
}
.case-swiper>p{
    margin-top: 40%;
}
.case-swiper>a{
    display: block;
    border: 1px solid #fff;
    width: 50%;
    line-height: 36px;
    margin: 0 auto;
    color: #fff;
}
.case-wrapper:hover .case-swiper{
    top: 0;
    left: 0;
}

#footer a{
    color: #fff;
    text-decoration: none;
}
#footer a:hover{
    color: #0d6aad;
}
#page-article .blockquote p{
    font-size:14px;
    color: #666;
}
#page-article .blockquote .blockquote-footer{
    color: #666;
    font-size: 12px;
}
a:hover{
    text-decoration: none;
}
.bg-dark a{
    color: #fff;
}
#page-article img{
    max-width: 100%;
}
.about-content p{
    text-indent: 2em;
    line-height: 2;
    font-size: 18px;
}
/*********首页模板块*****************/
.ifan{
    font-size: 2rem;
}
.nei_c {
    margin: 0 auto;
    padding-bottom: 90px;
}
.nei_c .col-md-3 {
    height: 200px;
    background: url(../images/main_4.png) center no-repeat;
    position: relative;
}
.nei_c .col-md-3 a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    text-align: center;
    filter: alpha(opacity:60);
}
.nei_c .col-md-3 img {
    width: 250px;
    height: 188px;
}
.nei_c .col-md-3 .xsj {
    width: 88px;
    height: 177px;
    background: url(../images/main_8.png) no-repeat;
    position: absolute;
    right: 10px;
    bottom: -16px;
}
.nei_c .col-md-3 .xsj img {
    width: 80px;
    height: 142px;
    margin: 11px 0 0 4px;
}
.nei_c .col-md-3 p{
    -ms-text-align-last: left;
    text-align-last: left;
    font-size: 14px;
    color: #fff;
}
.nei_c .col-md-3 a:hover {
    opacity: 1;
    filter: alpha(opacity:100);
}
/*********************************************/



#integer .col,#integer .col-md{
    height: 173px;
    border: 1px solid #dadada;
    border-top: none;
    border-left: none;
    position: relative;
    box-sizing: unset;
    overflow: hidden;
    text-align: center;
}
#integer .iconfont{
    line-height: 173px;
}
#integer .col p,#integer .col-md p {
    position: absolute;
    width: 100%;
    height: 173px;
    left: 0;
    top: 173px;
    background: #1EB5AC;
    color: #fff;
    padding: 0 50px;
}
#integer .col:hover p,#integer .col-md:hover p{
    transition-duration: 1s;
    transform: translateY(-173px);
}
#integer .li-bor-notrig {
    border-right: 0;
}
#integer .li-bor-notbot {
    border-bottom: 0;
}

/**********************************/

#page-city-article h1{
    font-size: 1.5rem;
}
#page-city-article h2{
    font-size: 1.25rem;
}
.text-indent-2{
    text-indent: 2em;
}
.rem-1r{
    font-size: 1.5rem;
}
.rem-2{
    font-size: 2rem;
}
.rem-2r{
    font-size: 2.5rem;
}
.rem-3{
    font-size: 3rem;
}
.rem-4{
    font-size: 4rem;
}
.rem-5{
    font-size: 5rem;
}
/***********文章内容***************/
.article-body{
    font-weight: bolder;
    line-height: 1.8;
    margin-bottom: 20px;
}
.article-body p{
    margin-bottom: 20px;
    word-break: break-word;
}
.article-warp{
    margin-bottom: 20px;
}
/**********网站地图*************/
#pills-tabContent{
    font-size: 0.78rem;
    line-height: 1.2rem;
}
#pills-tabContent .btn{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}