{% extends 'base.html.twig' %}
{% block title %}产品中心_{{ parent() }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card-deck my-5">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
        </div>
        <div class="card-deck my-5">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
        </div>
        <div class="card-deck my-5">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
        </div>
        <div class="card-deck my-5">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
        </div>
        <div class="card-deck my-5">
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">标题</h4>
                    <p class="card-text">内容</p>
                </div>
                <div class="card-footer">分类</div>
            </div>
        </div>
    </div>
{% endblock %}