{% extends 'base.html.twig' %}
{% block title %}产品中心_{{ parent() }}{% endblock %}

{% block body %}
    <div class="container my-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">产品中心</li>
            </ol>
        </nav>

        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">企业标准网站建设</h5>
                    <p class="card-text">标准网站建设是为的中小企型业提供标准化的网站建设，主要功能包括公司简介、产品、品牌信息发布，QQ在线客服，百度搜索引擎优化等，满足企业所需标准网站建设。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/profunc.php" class="badge badge-info">网站建设</a>
                    <a href="http://shop.drupai.com/profunc.php" class="badge badge-info">网站制作</a>
                    <a href="http://shop.drupai.com/profunc.php" class="badge badge-info">做网站</a>
                </div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">企业手机网站建设</h5>
                    <p class="card-text">手机网站建设是为的中小型企业提供手机网站建设服务，主要功能包括适应不同手机显示，无论手机屏幕大小都能正确显示企业要显示的信息，版块有公司简介、产品、品牌、联系等信息，满足企业对手机网站的建设需求。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">手机网站建设</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">手机网站制作</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">手机网站</a>
                </div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">微网站建设</h5>
                    <p class="card-text">微网站建设是为的中小型企业提供微网站建设服务，主要基于微信帮助企业实现线上线下互通（O2O），社会化客户关系管理（SCRM），移动电商（Vshop），WMAPP移动网站等的网站形式。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/profunc3.php" class="badge badge-info">微网站建设</a>
                    <a href="http://shop.drupai.com/profunc3.php" class="badge badge-info">微网站制作</a>
                    <a href="http://shop.drupai.com/profunc3.php" class="badge badge-info">微网站</a>
                </div>
            </div>
        </div>
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">三合一网站建设</h5>
                    <p class="card-text">三合一网站建设是同时建立电脑、手机、微信网站等多终端的网站，采用自动化响应技术，自动识别和呈现终端类型，PC端网站、移动端网站、微网站使用同一个底层数据，一个后台同步更新数据。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/profunc1.php" class="badge badge-info">三合一网站</a>
                    <a href="http://shop.drupai.com/profunc1.php" class="badge badge-info">三合一网站制作</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">营销型网站建设</h5>
                    <p class="card-text">能赚钱的网站--提升企业形象及转化率 基于"客户体验感"+"网站信任感"传递， 融合视觉美学及有效营销策略，量身定制 能提升公司形象及推广转化率的营销型网站。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/profunc2.php" class="badge badge-info">营销型网站</a>
                    <a href="http://shop.drupai.com/profunc2.php" class="badge badge-info">营销型网站建设</a>
                    <a href="http://shop.drupai.com/profunc2.php" class="badge badge-info">营销型网站制作</a>
                </div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">网站商城建设</h5>
                    <p class="card-text">网站商城建设提供国内最高性价比的入门级B2C商城解决方案，让你轻松开启电子商务第一步可随时无缝升级到三级分销，全网分销， 让您商城推广更进一步,可随时升级制作小程序, APP，低成本覆盖更多客户， 提升企业形象</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">网站商城</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">分销商城制作</a>
                </div>
            </div>
        </div>
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">标准小程序制作</h5>
                    <p class="card-text">标准小程序制作是为中小企型业提供标准化的小程序制作，主要功能包括展示公司简介、产品、品牌信息发布等，满足企业对小程序所需的展示功能。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序制作</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序开发</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">小程序商城制作</h5>
                    <p class="card-text">小程序商城制作提供小程序商城制作服务，主要功能包括适企业信息管理，菜单管理，轮播图、账户、产品、文章、交易、订单、会员等信息管理，满足企业对小程序制作商城的需求。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序制作</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序开发</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序商城</a>
                </div>
            </div>
            <div class="card">
                <img src="#" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">小程序分销商城</h5>
                    <p class="card-text">小程序分销商城是为满足中小型企业对小程序制作分销商城的高要求而服务，主要功能包括企业信息管理、菜单管理、账户管理等标准小程序商城功能和分销功能。</p>
                </div>
                <div class="card-footer">
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序制作</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序开发</a>
                    <a href="http://shop.drupai.com/solution.php" class="badge badge-info">小程序分销商城</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}