<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="{% block keywords %}北海网站制作,小程序制作,营销推广助手{% endblock %}">
        <meta name="description" content="{% block description %}北海助派网络信息技术有限公司是一家有实力的网站制作、小程序制作、微信公众号制作、微信营销推广公司，助派网络为无数客户成功进行营销推广活动。{% endblock %}">
        <title>{% block title %}助派网络信息技术【官网】{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
    {{ include('navbar.html.twig') }}
        {% block body %}
            {% block sidebar %}
            {% endblock %}
        {% endblock %}
    {{ include('footer.html.twig') }}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
