<a
        target="_blank"
        href="{{ admin.generateUrl('view') }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_view'|trans({}, 'SonataAdminBundle') }}"
>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    {{ 'action_view'|trans({}, 'SonataAdminBundle') }}
</a>